/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-family: serif;
  font-size: 100%;
}

p {
  line-height: 1.5;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul,
ol {
  padding: 0;
  margin: 0 0 0 1em;
}

ul ul,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 1.5;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ============================================================================================== */
/* Demo Styles - Do most of your work here.                                                       */
/* ============================================================================================== */





/* Clearfix class =============================================================================== */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }