$gray: #4D4D4D;
$yellow: #E4E3C2;
$purple: #A5A8B1;

/* Reset Styles */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Base Typographic Styles */

body {
	font-family: 'Lato', Georgia, sans-serif;
	/*  font-family: Georgia, sans-serif; */  
	font-weight: 300;
	font-size: 100%;
	line-height: 1.5;
}

p {
	font-size: 1.25em;
	max-width: 775px;
	line-height: 1.5;
	margin: 0 auto 1em auto;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

cite {
	font-style: normal;
	font-size: 0.875em;
	line-height: 1;
	display: inline-block;

}

small {
	font-size: 80%;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #888;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
}

a:hover {
	color: #009E7C;
	border-bottom: 1px solid #666;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;  
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	line-height: 1.5;
	text-rendering: optimizelegibility;
}

h1 {
	margin: 0 auto;
	font-size: 5.5em;
	font-weight: 900;
	color: #f2f2f2;
	line-height: 1.2;
}

h2 {
	font-size: 2.25em;
	text-align: center;
	margin: 0 0 1em 0;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.25em; /* 20px */
	font-style: normal;
	font-weight: 700;
}

ul,
ol {
	max-width: 700px;
	font-size: 1.25em;
	padding: 0;
	margin: 0 auto 1em auto;
}

ul ul,
ol ul {
	margin-bottom: 1;
}

li {
	line-height: 1.5;
}

sub,
sup {
	font-size: 60%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	margin: 0 0 0 2px;
}

sup a:hover {
	border-bottom: 1px solid #666;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

blockquote {
	width: 80.8%; /* 825px */
	max-width: 1000px;
	font-style: italic;
	font-size: 1.25em;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	margin: 3em auto 0;
	padding: 0.382em 0 0 0;
	p {
		margin: 0 0 0.5em 0;
		max-width: 100%;
		color: darken($purple,20%);
		font-weight: 400; 
	}
	a {
		color: darken($purple,20%);
	}
}

figcaption {
	font-size: .875em;
	font-style: italic;
	text-align: center;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
}

/* Demo Styles - Do most of your work here. */

section {
	padding: 2em 0;
}

.wrapper {
	width: 76%; /* 775/1024 */
	margin: 0 auto;
	max-width: 775px;
}

header {
	background: lighten($yellow, 10%);
	text-align: center;
	p {
		font-size: 0.875em;
		display: inline;
	}
}

section {
	padding: 6.25em 0;
} 

.intro {
	background: $gray;
	p {
		font-size: 1.75em; /* 28/16 */
		color: #F2F2F2;
		font-weight: 300;
	} 
	a {
		color: #F2F2F2;
	}
}                                    

.intro2 {
	background: $yellow;
	figure {
		float: left;
		margin: 0 1em;
		width: 25%;
		img {
			width: 100%;
			border: 1px solid #C9C593;
			position: relative;
		}
	}
}

.life {
	background: lighten($yellow, 5%);
}

.career {
	background: lighten($yellow, 8%);
}

.career2 {
	background: lighten($yellow, 12%);
}

.pullout {
	background: #ffffff;
}

.figurewrap {
	width: 100%;
	max-width: 775px;
	margin: 0 auto;
	figure {
		width: 32.9%;
		display: inline-block;
		vertical-align: top;
		margin-top: 4em;
		img {
			width: 100%;
			border: 1px solid $purple;
		}
	}
}

.hotel {
	background: $purple;
	figure {
		float: right;
		margin: 0 3em 0 1em;
		img {
			width: 100%;
			border: 1px solid darken($purple, 20%);
		}
	}
	figcaption {
		width: 10.7em; /* 170px */
	}
	a:hover {
		color: #ffffff;
	}
}

.t_and_i {
	background: lighten($purple, 10%);
	figure {
		width: 13em;
		margin: 0 auto 2em;
		img {
			width: 100%;
			border: 1px solid darken($purple,20%);
		}
		a:hover {
			color: ffffff;
		}
	}
}

.typefaces {
	background: lighten($purple, 20%);
	figure {
		width: 12.5em;
		margin: 0 auto 1em auto;
		img {
			width: 100%;
			border: 1px solid $purple;
		}
	}
}

.writings {
	background: lighten($purple, 25%);
}

.contribution {
	background: lighten($purple, 30%);
}

.plife {
	background: #ffffff;
	figure {
		float: left;
		margin: 1.5em 1.2em 0 0;
		img {
			border: 1px solid $purple;
		}
	}
	figcaption {
		width: 200px;
	}
}

footer {
	background: $gray;
	color: #F2F2F2;
	font-size: .875em;
	margin: 0 auto;
	ul {
		margin: 0 auto;
		padding: 1em 0;
	}
	a {
		color: #F2F2F2;
	}
}

@media screen and (max-width: 910px) { 
	.intro2 figure {
		display: block;
		float: none;
		margin: 0 auto 2em;
	}
}

@media screen and (max-width: 775px) { 
	.figurewrap {
		width: 80%;
		figure {
			width: 32.8%;
		}
	}
}

@media screen and (max-width: 680px) { 
	.figurewrap figure {
			width: 32.5%;
	}

	.hotel figure {
		float: none;
		width: 50%;
		margin: 0 auto 2em;
	}
	.typefaces figure {
		float: none;
		margin: 0 auto 2em;
	}
}

@media screen and (max-width: 480px) { 
	body {
		font-size: 14px;
	}
	.wrapper {
		width: 90%;
	}

	h1 {
		font-size: 4.5em;
	}

	blockquote {
		width: 90%;
		font-size: 1em;
	}

	ul {
		margin: 0 0 0 1em;
	}

	.intro p {
		font-size: 1.2em;
	}
	.intro2 figure {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.figurewrap figure {
		display: block;
		margin: 0 auto 2em;
		width: 100%;
	}

	.hotel figure {
		width: 100%;
	}

	.t_and_i figure {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.typefaces figure {
		width: 100%;
		img {
			width: 100%;
		}
		figcaption {
			width: 100%;
		}
	}
	.plife figure {
		width: 100%;
		margin: 1em auto 2em;
		img {
			width: 100%;
		}
		figcaption {
			width: 100%;
		}
	}
}

@media screen and (max-width: 320px) { 
	h1 {
		font-size: 3.5em;
		margin: 0 0 1em 0;
	}
}

/* Clearfix class */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }